<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Create New Post')" /></head>
<body>
<header>posts/create.html</header>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">

<!--<div class="input-field">-->
    <!--<form action="/posts/create" method="post">-->
        <!--<label for="title">Title</label>-->
        <!--<input type="text" name="title" id="title" />-->

        <!--<label for="body">Body</label>-->
        <!--<textarea type="textarea" name="body" id="body" class="materialize-textarea"></textarea>-->
        <!--<button type="submit" class="btn">Create</button>-->
    <!--</form>-->
<!--</div>-->

<div class="input-field">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}" />
        <br />
        Body:
        <input th:field="*{body}" />
        <br />
        <input type="submit" class="btn" />
    </form>
</div>

</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>