<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<th:block th:fragment="footer" id="Footer1">

    <div class="row"></div>
    <div class="page-footer">
        <div class="container">
            <div class="row">
                    <ul class="row center">
                        <li><a href="#" class="grey-text text-lighten-3">About</a> |</li>
                        <li><a href="#" class="grey-text text-lighten-3">Contact</a> |</li>
                        <li><a href="#" class="grey-text text-lighten-3">Twitter</a> |</li>
                        <li><a href="#" class="grey-text text-lighten-3">LinkedIn</a></li>
                    </ul>
            </div>
        </div>
    </div>

</th:block>


</body>
</html>
