<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<th:block th:fragment="includes" id="includes1">

    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>

    <!-- Materialize JS Initializers -->
     <script>
    "use strict";
    $(document).ready(function () {
    console.warn( 'The DOM has finished loading in HTML!' );

        $('input#input_text, textarea#textarea2').characterCounter();

    });
    </script>

</th:block>


</body>
</html>