<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<th:block th:fragment="navbar" id="Navbar1">

    <div class="nav-wrapper indigo">
        <div class="container">
            <div class="col s1"></div>
            <a href="/posts" class="brand-logo">Spring Blog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/home"><i class="fas fa-home"></i></a></li>
                <li><a href="/hello/erik"><i class="fas fa-user"></i></a></li>
                <li><a href="/roll-dice"><i class="fas fa-dice"></i></a></li>
                <li><a href="/posts">
                    <i class="fas fa-comments"></i>
                </a></li>
                <li><a href="/posts/create">
                    <i class="fas fa-plus"></i>
                </a></li>
                <li><a href="/users"><i class="fas fa-users"></i></a></li>
                <li><a href="/users/create"><i class="fas fa-user-plus"></i></a></li>
                <!--<li><a href="#">Login</a></li>-->
                <!--<li><a href="#">Logout</a></li>-->
            </ul>

        </div>
    </div>

</th:block>


</body>
</html>
