<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<th:block th:fragment="navbar" id="Navbar1">

    <div class="nav-wrapper deep-purple">
        <div class="col s1"></div>
        <a href="/posts" class="brand-logo" style="margin-left: 1rem;">Spring Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home"><i class="small material-icons">home</i></a></li>
            <li><a href="/hello/erik"><i class="small material-icons">account_box</i></a></li>
            <li><a href="/roll-dice"><i class="small material-icons">videogame_asset</i></a></li>
            <li><a href="/posts"><i class="small material-icons">short_text</i></a></li>
            <li><a href="/posts/create">posts/create</a></li>
            <!--<li><a href="#">Register</a></li>-->
            <!--<li><a href="#">Login</a></li>-->
            <!--<li><a href="#">Logout</a></li>-->
        </ul>
    </div>

</th:block>


</body>
</html>
