html {
    background: ghostwhite;
}

nav>ul li {
    list-style: none;
    display: inline;
    text-align: center;
}

footer ul li {
    list-style: none;
    display: inline;
    text-align: center;
}