<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Hello')" /></head>
<body>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">

    <h3>Welcome <span th:text="${name}"></span></h3>

    <button th:if="${admin}">Grade Students</button>

    <ul>
        <li th:each="name : ${names}">
            <a href="#" th:text="${name}"></a>
        </li>
    </ul>

</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>