<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="fragments/head :: header('Roll-dice')" /></head>
<body>
<header>roll-dice.html</header>
<nav><th:block th:replace="fragments/navbar :: navbar" /></nav>


<div class="container">

    <h3>This is the roll-dice page.</h3>

    <a href="/roll-dice/1" class="waves-effect waves-light btn-small green accent-4">Predict 1</a>
    <a href="/roll-dice/2" class="waves-effect waves-light btn-small green accent-4">Predict 2</a>
    <a href="/roll-dice/3" class="waves-effect waves-light btn-small green accent-4">Predict 3</a>
    <a href="/roll-dice/4" class="waves-effect waves-light btn-small green accent-4">Predict 4</a>
    <a href="/roll-dice/5" class="waves-effect waves-light btn-small green accent-4">Predict 5</a>
    <a href="/roll-dice/6" class="waves-effect waves-light btn-small green accent-4">Predict 6</a>

    <div th:if="${randomNum != 0}">
        <h4>Number guessed is:  <span th:text="${urlNum}"></span></h4>
        <h4>Rolled number: <span th:text="${randomNum}"></span></h4>
        <h5 th:if="${correctPrediction == true}">You were correct.</h5>
    </div>

</div>


<footer><th:block th:replace="fragments/footer :: footer" /></footer>
<th:block th:replace="fragments/includes :: includes" />
</body>
</html>